Chronomark.json
{
  "name": "Chronomark",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        -340
      ],
      "id": "53373b3e-daa1-450e-9d55-67598e86412f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d436368d-7c2c-4fce-a6f9-c69cd575f2a8",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "fe5309e5-488d-487e-8b9e-eeab679d65e5",
      "name": "Webhook",
      "webhookId": "d436368d-7c2c-4fce-a6f9-c69cd575f2a8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60dda135-f608-48c1-983a-3a880712215e",
              "leftValue": "={{ $json.body.value }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "da61d08e-4478-41c4-b7e2-d24877e1903f",
              "leftValue": "={{ $json.body.range.columnStart }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        460,
        0
      ],
      "id": "5624ab70-6bce-4ae1-9e87-9ddf7ebe65ed",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet._1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Check-in Time": "={{ $json.text }}",
            "ID": "={{ $('Google Sheets1').item.json.ID }}",
            "Name": "={{ $('Google Sheets1').item.json.Name }}",
            "Check-in": "={{ $('Google Sheets1').item.json['Check-in'] }}",
            "Check-out Time": " ",
            "Check-out": "false"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Check-in",
              "displayName": "Check-in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Check-in Time",
              "displayName": "Check-in Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check-out",
              "displayName": "Check-out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Check-out Time",
              "displayName": "Check-out Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        0
      ],
      "id": "95734bbf-97f6-4da2-8c70-a26f800884e0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkAv7Yu5PbbBTbap",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet._1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $('Webhook').item.json.body.rowValues[0]['0'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        680,
        0
      ],
      "id": "e67fe7c2-cfd7-4a04-ba47-91051b1bdccf",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkAv7Yu5PbbBTbap",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60dda135-f608-48c1-983a-3a880712215e",
              "leftValue": "={{ $json.body.value }}",
              "rightValue": "TRUE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "da61d08e-4478-41c4-b7e2-d24877e1903f",
              "leftValue": "={{ $json.body.range.columnStart }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        360,
        380
      ],
      "id": "c26c488f-c2b3-40ce-9265-b90068386323",
      "name": "Filter1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet._1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $('Webhook').item.json.body.rowValues[0]['0'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        600,
        380
      ],
      "id": "4e47793b-5299-4779-9d18-0dd34a901101",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkAv7Yu5PbbBTbap",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet._1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Check-in Time": "={{ $('Google Sheets2').item.json['Check-in Time'] }}",
            "ID": "={{ $('Google Sheets2').item.json.ID }}",
            "Name": "={{ $('Google Sheets2').item.json.Name }}",
            "Check-in": "={{ $('Google Sheets2').item.json['Check-in'] }}",
            "Check-out": "={{ $('Google Sheets2').item.json['Check-out'] }}",
            "Check-out Time": "={{ $json.text }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Check-in",
              "displayName": "Check-in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Check-in Time",
              "displayName": "Check-in Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Check-out",
              "displayName": "Check-out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Check-out Time",
              "displayName": "Check-out Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1200,
        380
      ],
      "id": "f504345a-ed54-4cd7-96b0-0d5af2cea1ba",
      "name": "Google Sheets3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkAv7Yu5PbbBTbap",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, your job is to convert the entered time date format into \"date, 12hour time\" format in a single line just the output only nothing extra like \"hi here is your reply\" or so\ninput :\n {{ $now }}",
        "messages": {
          "messageValues": [
            {
              "message": "covert into \"DD/MM/YYY , HH:MM AM/PM\" don't include extra lines or steps in the output"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        860,
        0
      ],
      "id": "c73a73b0-a6fd-42f9-b502-00533de20ddb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "=mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        880,
        180
      ],
      "id": "94e80c5e-c941-4ded-9d47-15e917df6bb4",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "skizdVlX8fTntMgv",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hi, your job is to convert the entered time date format into \"date, 12hour time\" format in a single line just the output only nothing extra like \"hi here is your reply\" or so\ninput :\n {{ $now }}",
        "messages": {
          "messageValues": [
            {
              "message": "covert into \"DD/MM/YYY , HH:MM AM/PM\" don't include extra lines or steps in the output"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        820,
        380
      ],
      "id": "718c2716-80d5-453c-9be4-0b982d6c70a3",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "model": "=mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        840,
        560
      ],
      "id": "bb62314c-83a6-41a8-ba3c-78a3e3b80f17",
      "name": "Azure OpenAI Chat Model1",
      "credentials": {
        "azureOpenAiApi": {
          "id": "skizdVlX8fTntMgv",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet._1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CQYJjKqWxy3cHgHVW1MlyyTRqZ_cbOX0HWRDy3tl_gU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Check-in",
              "lookupValue": "false"
            },
            {
              "lookupColumn": "Check-out",
              "lookupValue": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        500,
        -340
      ],
      "id": "523df415-69cf-4664-bd93-5a74df34a1b0",
      "name": "Google Sheets4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkAv7Yu5PbbBTbap",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Rules:\n- If the difference is 7.5 hours or more → present\n- If more than 6.5 hours but less than 7.5 hours → present(late)\n- If 3 to 4 hours → half day\n- If less than 4 hours → absent\n- If times are missing → absent\n\nCheck-in: {{ $json[\"Check-in Time\"] }}\nCheck-out: {{ $json[\"Check-out Time\"] }}\n\nRespond with only one word: present, present(late), half day, or absent. No explanation.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1540,
        380
      ],
      "id": "482a13c8-f2ac-4503-80b3-f49e7788a435",
      "name": "Basic LLM Chain2"
    },
    {
      "parameters": {
        "model": "mindcraft-gpt4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        1560,
        580
      ],
      "id": "94964300-86ed-4004-8a87-bbd962a821d4",
      "name": "Azure OpenAI Chat Model2",
      "credentials": {
        "azureOpenAiApi": {
          "id": "skizdVlX8fTntMgv",
          "name": "Azure Open AI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ID",
              "lookupValue": "={{ $('Google Sheets3').item.json.ID }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1900,
        380
      ],
      "id": "f7a1e8aa-ebe0-4998-99ad-894f05d8a6e4",
      "name": "Google Sheets5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkAv7Yu5PbbBTbap",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.Name }}",
            "21/06/2025": "={{ $('Basic LLM Chain2').item.json.text }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "21/06/2025",
              "displayName": "21/06/2025",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2120,
        380
      ],
      "id": "4e780101-644c-4d27-926b-bc4057727ec0",
      "name": "Google Sheets6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkAv7Yu5PbbBTbap",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rdVv_R-8459T09UFHrCdq-DHuhSgjD0_YzF3W3UYRYk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Name": "={{ $json.Name }}",
            "21/06/2025": "absent"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "21/06/2025",
              "displayName": "21/06/2025",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        720,
        -340
      ],
      "id": "89d78f23-f726-4d06-92ee-776381597904",
      "name": "Google Sheets7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qkAv7Yu5PbbBTbap",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Google Sheets3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets3": {
      "main": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "Google Sheets5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets5": {
      "main": [
        [
          {
            "node": "Google Sheets6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets4": {
      "main": [
        [
          {
            "node": "Google Sheets7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfc25834-a563-486b-b6e9-19d92c43c0df",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2c62a31fb6d30fd1bf3ad292da089bc56ab03f872d37a8be95eb1b2e8f435a2"
  },
  "id": "YqR3IBIAbkR4Tnux",
  "tags": []
}